<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- 配置Bean后处理器 -->
        <!-- 这个Bean后处理器将作用于整个xml文件中的所有的bean -->
    <bean class="com.powernode.spring6.bean.LogBeanPostProcessor"/>


    <!--  需要手动指定Bean的初始化方法和销毁方法-->
    <bean id="user" class="com.powernode.spring6.bean.User" init-method="initBean" destroy-method="destroyBean" scope="prototype">
        <property name="name" value="jack"/>
    </bean>

    <!--<bean id="vip" class="com.powernode.spring6.bean.Vip"/>-->
</beans>